

#container{
    background: #f5f6f8
}


#content{width: 100%;height: auto; margin: 0 auto;}
#content div
#content div#item1{background-color: #f5f6f8}
#content div#item2{background-color: #f5f6f8}
#content div#item3{background-color: #f5f6f8}
#content div#item4{background-color: #f5f6f8}
#content div#item5{background-color: #f5f6f8}
#content div h1{font-size: 36px; color: #fff;}

#menu{
    
    width: 135px;
    height: auto; 
    position: fixed;
    left:-30px;
    top: 30%;
    margin-top: ;
    font-family:"microsoft yahei";
    
}

/*#menu ul{
    display: block;
    list-style-type:circle;
    font-size: 13px;
    font-weight: bold;
    font-family:"microsoft yahei";
}

#menu ul li a{
    width: 135px; height: 30px; 
    line-height: 20px; 
    text-align: ;
    background-color:;
    background-color:rgba;
    color: #002653;
    display: block;
    z-index:1000;
}*/

#menu ul li a:hover,#menu ul li a.cur{
    background-color: ;
    color:#a40035;
}



#menu ul{
    display: block;
    list-style-type:none;
    font-size: 13px;
    font-weight: bold;
    font-family:"microsoft yahei";
}

#menu ul li a{
    width: 135px; height: 30px; 
    line-height: 20px; 
    text-align: ;
    background-color:;
    background-color:rgba;
   
    display: block;
    z-index:1000;
}











#header{
		
		height:90px;
		width:100%;
	}

    #logo{
        float:left;
        margin: 20px 0 0 160px;
        position: absolute;
    }

    #contact{
        float:right;
        margin: 30px 160px 0 0px;

    }


	#banner{
		background:url(/images/ukheader.jpg);
        background-size:1920px 465px;
		height:460px;
		width:100%;
        
		
	}
    #leftpart {
        height: 460px;
        width:400px;
        float:left;
        margin-left: 320px;
        position: absolute;
        
       
    }
	#rightpart {
		height:460px;
		width:400px;
		float:right;
        margin-right:230px;
        
        
	}
    #leftpart img{
        
        margin-top:150px;

    }

	#baoming{
		
		height:420px;
		width:380px;
		margin-top:22px;
        background: 002653;
        background-color:rgba(0,0,0,0.3);
        position: absolute;
        
   
	}

	#rightpart .h3{font-size:18px; color:white; text-align:center;font-weight: bold;padding-top:20px;}
	#rightpart .p{font-family:"microsoft yahei";font-size:14px; margin-top:-12px;margin-bottom:10px; color:white; text-align:center;font-weight: bold;}
	#rightpart .tb{ padding:3px 20px;}
	#rightpart .tb table{ width:100%;}
	#rightpart .tb th{font-family:"microsoft yahei";text-align:right; color:white; font-size:14px; width:65px;padding:5px 10px 0px 0px; vertical-align:top;}
	#rightpart .tb input{ margin-bottom:3px; height:25px; width:215px; background:#fff; border:1px solid #dadada; border-radius:2px; box-shadow:0 1px 2px rgba(0,0,0,.1) inset; padding:0 10px;}
	#rightpart .tb textarea{ height:55px; font-size:12px; width:215px; background:#fff; border:1px solid #dadada; border-radius:2px; box-shadow:0 1px 2px rgba(0,0,0,.1) inset; padding:10px;}
	#rightpart .tb a{ margin:0px auto; display:inline-block; padding:0 20px; }
	
    #main{
    width:90%;
    height:auto;
    margin:0 auto;
    }

    .schools{
        margin:-35px auto;
        height:920px;
        width:1110px;
        background:;
    }

    .subtitle{
    	height:60px;
    	width:1110px;
    	background:#002653;
    	text-align: center;
        margin:0 auto;
    	
    }
    .subtitle h6{
    	line-height: 60px;
    	font-size: 25px;
    	font-weight: 900;
    	color: white;
    	font-family:"microsoft yahei";
    }

    .four {
    	width: 525px;
    	height:400px;
    	background: white;
    	margin:30px 20px 0px 10px;
    	float: left;
    }

    .fourtitle{
    	width:545px;
    	height:45px;
    	
    }
	
	.fourtitle img{
		float:left;
		margin:20px 0 0 20px;
	}
	.fourtitle h5{
		font-size: 18px;
		font-family:"microsoft yahei";
		font-weight:bold;
		color:#414f76;
		float:left;
		margin:20px 0 -10px 10px;
	}

	.pic{
		height:350px;
		width:200px;
		margin:15px 15px 15px 15px;
		float:left;
	}

	.pic p{
		font-size: 14px;
		font-family:"microsoft yahei";
		color:#a40035;
		line-height:23px;
		
	}

	.wenzi{
		height:350px;
		width:260px;
		font-size: 14px;
		font-family:"microsoft yahei";
		color:#777;
		float:right;
		line-height: 25px;
		margin:-5px 35px 15px -10px;
        text-indent: 2em;
		
	}

	#honerlist{
        margin:0px auto;
        height:1030px;
        width:1110px;
        background:white;
        
    }

    #honerlist li{
        font-family:"microsoft yahei";
        font-size: 15px;
        color: #8f8f8f;
        line-height: 35px;


    }

    
.title1 h4{
	width: 1200px;
	height:50px;
	text-align: center;
	font-size: 25px;
	font-family:"microsoft yahei";
	color:#414f76;
	float:left;
    margin-left:-30px;

}
    
	
	
    .list2 li{
		
    	list-style: none;
    }
    #honerlist .lista{
    	height:35px;
    	width:430px;
    	background: #f6f7fb;
    }

    #honerlist .listb{
    	height:35px;
    	width:430px;
    	background: white;
    }

    #offer{
        margin:0px auto;
        height:682px;
        width:1110px;
        background:white;
        
    }


    
	
	#offer .listc {
		height:35px;
    	width:430px;
    	background: #6c7a95;
    	list-style: none;
        font-family:"microsoft yahei";
        font-size: 15px;
        font-weight: bold;
        color: white;
        line-height: 35px;
        text-align: center;

    }
    
    #offer .lista {
		height:35px;
    	width:430px;
    	background: #f6f7fb;
    	list-style: none;
        font-family:"microsoft yahei";
        font-size: 15px;
        color: #8f8f8f;
        line-height: 35px;
        text-align: center;

    }
    #offer .listb {
		height:35px;
    	width:430px;
    	background: white;
    	list-style: none;
        font-family:"microsoft yahei";
        font-size: 15px;
        color: #8f8f8f;
        line-height: 35px;
        text-align: center;
    }

    
        
    
   

    #case{
        margin:0px auto;
        height:547px;
        width:1110px;
        background:
    }

    .suscase{

    	width: 530px;
    	height:425px;
    	background: #6c7d99;
    	margin:30px 10px 0px 12px;
    	float: left;
    
    }

    .suscase img{
    	margin:20px;
    	float:left;
    }

    .suscase h3{
    	width: 350px;
    	float:left;
    	font-size:22px;
        font-family:"microsoft yahei";
    	color: white;
    	margin-top:0px;

    }

    .suscase p{
    	margin: 20px 20px 0px 20px;
    	font-family:"microsoft yahei";
        font-size: 15px;
    	color:white;
    	line-height: 25px;
    }

    #sys{
        margin:0px auto;
        height:1580px;
        width:1110px;
        background:white;
        
    }

    .sys1 img{
        margin-left:30px;

    }

    #sys p{
        
        font-size: 15px;
        font-family:"microsoft yahei";
        color:#8d8d8d;
        line-height: 25px;
        padding:0 60px 0 60px;

    }


    #about{
        margin:0px auto;
        height:170px;
        width:1110px;
        background:white;
        
    }

    #about p {
        font-size: 15px;
        font-family:"microsoft yahei";
        color:#8d8d8d;
        line-height: 25px;
        padding:0 60px 0 60px;
    }

    #advantage{
        margin:0px auto;
        height:320px;
        width:1110px;
        background:white;
        
    }

    #advantage h3{
        font-size: 17px;
        font-family:"microsoft yahei";
        color:#414f76;
        line-height: 25px;
        padding:0 60px 0 60px;
    }

    #advantage li{
        font-size: 15px;
        font-family:"microsoft yahei";
        color:#8d8d8d;
        line-height: 15px;
        margin-left:40px;
    }