<appSettings>

  <!--上传图片保存路径-->
  <add key="FCKeditor:BasePath" value="/UploadImage/" />

  <!--链接字符串-->
  <add key="ConnectionString" value="server=iZ25unsnw7uZ;uid=eyoung;pwd=123456;database=201507_BiYi;" />

  <!--暂无图片-->
  <add key="NoImage" value="/images/noPic.jpg"/>

  <!--后台每页显示数量-->
  <add key="PageSize" value="30"/>

  <!--操作日志保存时间-->
  <add key="AdminLogDay" value="30"/>

  <!--发送邮件的相关信息设置-->
  <add key="smtp" value=""/>
  <add key="fromemail" value=""/>
  <add key="password" value=""/>
  
  
  
</appSettings>