@charset "utf-8";
/* CSS Document */

html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,i,b,u,pre,code,form,strong,label,em,a,iframe,fieldset,legend,input,button,textarea,p,blockquote{-webkit-text-size-adjust:none;margin:0;padding:0;font-family:Century Gothic,arial,\5B8B\4F53;}
table{border-collapse:collapse}
textarea{resize:none}
a img{border:0}
address,caption,cite,code,dfn,em,th,var,i{font-style:normal;font-weight:400}
li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6,b{font-size:100%;font-weight:400}
input,button,textarea,select{font-family:inherit}
a{outline:none;text-decoration:none}
a:hover{text-decoration:none}
img,input{vertical-align:middle}
body,html{width:100%;height:100%;font-size:12px}
article,aside,dialog,footer,header,section,footer,nav,figure{display:block}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
*html.clearfix{zoom:1}.clear{clear:both;overflow:hidden;height:0px;line-height:0}
:first-child+html.clearfix{zoom:1}
.clearfix{zoom:1}
.clearfix{zoom:1}
a,area{blr:expression(this.onFocus=this.blur())}
:focus{-moz-outline-style:none}

.w1000{width:1000px;}
.fw{font-weight:700;} 
.fs11{font-size:11px;}
.fs14{font-size:14px;}
.fs16{font-size:16px;}
.fs18{font-size:18px;}
.fs20{font-size:20px;}
.fs22{font-size:22px;}
.fs24{font-size:24px;}
.fs26{font-size:26px;}
.fs28{font-size:28px;}
.fs30{font-size:30px;}
.fs32{font-size:32px;}
.fs34{font-size:34px;}
.fs35{font-size:35px;}
.fs38{font-size:38px;}
.fs44{font-size:44px;}
.fs100{font-size:100px;}
.lh20{line-height:20px;}
.lh22{line-height:22px;}
.lh24{line-height:24px;}
.lh26{line-height:26px;}
.lh33{line-height:33px;}
.lh34{line-height:34px;}
.lh35{line-height:35px;}
.lh40{line-height:40px;}
.lh44{line-height:44px;}
.lh50{line-height:50px;}
.lh60{line-height:60px;}
.lh100{line-height:100px;}
.co_9c0059{color:#9c0059;}
.co_d9222a{color:#d9222a;}
.co_a20057{color:#a20057;}
.co_333{color:#333333;}
.co_999{color:#999999;}
.co_757575{color:#757575;}
.co_ddbcbd{color:#ddbcbd;}
.ma0{margin:0;}
.ma40{margin:0 40px;}
.mt5{margin-top:5px;}
.mt7{margin-top:7px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt75{margin-top:75px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.tac{text-align:center;}
.ffdx{text-transform: uppercase;}
.ffxx{text-transform: lowercase;}
.tac{text-align:center;}
.tal{text-align:left;}
.tar{text-align:right;}
.pb20{padding-bottom:20px;}
.dn{display:none;}
.letter-1{letter-spacing:-1px;}
.letter-2{letter-spacing:-2px;}
.letter-3{letter-spacing:-3px;}
.letter-1-1{letter-spacing:1px;}
.letter-2-1{letter-spacing:2px;}
.letter-3-1{letter-spacing:3px;}
.fl{float:left;}
.fr{float:right;}


/* ---------- Form ---------- */

input.text {
	width: 450px;
	height: 24px;
	line-height: 24px;
	padding: 0px 4px;
	color: #666666;
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-top: 1px solid #999999;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #999999;
}
input.textSml {
	width: 180px;
	height: 20px;
	line-height: 20px;
	padding: 0px 4px;
	color: #666666;
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-top: 1px solid #999999;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #999999;
}

input.text[type=file] {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input.text:hover,
input.button:hover {
	-webkit-transition: box-shadow linear 0.2s;
	-moz-transition: box-shadow linear 0.2s;
	-ms-transition: box-shadow linear 0.2s;
	-o-transition: box-shadow linear 0.2s;
	transition: box-shadow linear 0.2s;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	border: 1px solid #74b9ef;
}

input.text:disabled {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: #f6f6f6;
}

input.text:disabled:hover {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-top: 1px solid #999999;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #999999;
	background-color: #f6f6f6;
}

textarea.text {
	width: 450px;
	height: 60px;
	padding: 4px;
	color: #666666;
	font-size: 12px;
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-top: 1px solid #999999;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #999999;
}

textarea.text:hover {
	-webkit-transition: box-shadow linear 0.2s;
	-moz-transition: box-shadow linear 0.2s;
	-ms-transition: box-shadow linear 0.2s;
	-o-transition: box-shadow linear 0.2s;
	transition: box-shadow linear 0.2s;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	border: 1px solid #74b9ef;
}

textarea.text:disabled {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: #f6f6f6;
}

textarea.text:disabled:hover {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-top: 1px solid #999999;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #999999;
	background-color: #f6f6f6;
}

textarea.editor {
	width: 100%;
}
a.button {
	height: 26px;
	line-height: 26px;
	display: inline-block;
	display: -moz-inline-stack;
	float: left;
	padding: 0px 16px;
	margin-right: 10px;
	color: #444444;
	text-shadow: 1px 1px #ffffff;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	outline: none;
	blr: expression(this.hideFocus = true);
	border: 1px solid #b7c8d9;
	background: url(../images/common.gif) 0px 0px repeat-x;
}

a.button:hover {
	color: #222222;
	background-position: 0px -30px;
}

a.button:active {
	background-position: 0px -60px;
}

a.button:disabled {
	color: #bbbbbb;
}

a.button:disabled:hover, a.button:disabled:active {
	color: #bbbbbb;
	background-position: 0px 0px;
}

a.button .arrow {
	width: 6px;
	height: 3px;
	position: absolute;
	top: 12px;
	right: 4px;
	overflow: hidden;
	background: url(../images/common.gif) 0px -180px no-repeat;
}

a.iconButton {
	height: 26px;
	line-height: 26px;
	display: inline-block;
	display: -moz-inline-stack;
	float: left;
	position: relative;
	padding: 0px 16px 0px 26px;
	margin-right: 10px;
	color: #444444;
	text-shadow: 1px 1px #ffffff;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	outline: none;
	blr: expression(this.hideFocus = true);
	border: 1px solid #b7c8d9;
	background: url(../images/common.gif) 0px 0px repeat-x;
}

a.iconButton:hover {
	color: #222222;
	background-position: 0px -30px;
}

a.iconButton:active {
	background-position: 0px -60px;
}

a.iconButton:disabled {
	color: #bbbbbb;
}

a.iconButton:disabled:hover, a.iconButton:disabled:active {
	color: #bbbbbb;
	background-position: 0px 0px;
}

a.iconButton .addIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 8px;
	background: url(../images/common.gif) 0px -150px no-repeat;
}

a.iconButton .editIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 8px;
	background: url(../images/common.gif) -20px -150px no-repeat;
}

a.iconButton .deleteIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 8px;
	background: url(../images/common.gif) -40px -150px no-repeat;
}

a.iconButton .clearIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 8px;
	background: url(../images/common.gif) -60px -150px no-repeat;
}

a.iconButton .copyIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 8px;
	background: url(../images/common.gif) -80px -150px no-repeat;
}

a.iconButton .moveIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 8px;
	background: url(../images/common.gif) -100px -150px no-repeat;
}

a.iconButton .refreshIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 8px;
	background: url(../images/common.gif) -120px -150px no-repeat;
}

a.iconButton .addDirIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 8px;
	background: url(../images/common.gif) -140px -150px no-repeat;
}

a.iconButton .moveDirIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 8px;
	background: url(../images/common.gif) -160px -150px no-repeat;
}

a.iconButton .upIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 8px;
	background: url(../images/common.gif) -180px -150px no-repeat;
}

a.iconButton .downIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	left: 8px;
	background: url(../images/common.gif) -200px -150px no-repeat;
}

a.iconButton .arrow {
	width: 6px;
	height: 3px;
	overflow: hidden;
	position: absolute;
	top: 12px;
	right: 4px;
	background: url(../images/common.gif) 0px -180px no-repeat;
}
div.buttonWrap .button.disabled, div.buttonWrap .button.disabled:hover, div.buttonWrap .button.disabled:active {
	color: #bababa;
	cursor: default;
	background: #ffffff;
}

div.buttonWrap .iconButton.disabled, div.buttonWrap .iconButton.disabled:hover, div.buttonWrap .iconButton.disabled:active {
	color: #bababa;
	cursor: default;
	background: #ffffff;
}